*{
    padding: 0;
    margin: 0;
}

body{
    background-image: radial-gradient(circle at 50% 1.8%, #796542 0, #63573a 12.5%, #4b4631 25%, #333227 37.5%, #1c1c1b 50%, #01000d 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
      
} 

.container{
    background-color: black;
    width: 70vw;
    height: 515vh;
    margin: 10vh auto;
}



html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
}

/* .logo{
    width: 100px;
    height: 50px;
} */

header{
    height: 5vh;
}

nav ul  {
    margin-left: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    position: static;
    background-color: black;
    
    height: 2rem;
    /* width: 100%; */
}

nav a{
    color: blanchedalmond;
    text-decoration: none;
}

.botao-home{
    height: 25px;
    width: 145px;
    border-radius: 7px;
    color: whitesmoke;
    background-color: gray;
    border-color: transparent;
    position: relative;
    margin-left: 300px;
    /* margin-top: ; */
}

#home{
    background-image: url(img/);
    background-repeat: no-repeat;
    
    background-color: tomato;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 650px;
    font-size: 40px;
    color: cadetblue;

}






#lima{
    background-color: blueviolet;
}

#sop{
    background-color: brown;
}

#fpoo{
    background-color: coral;
}

#hare{
    background-color: darkgreen;
}

.video-hare{
    position: relative;
    width: 100%;
    
}

footer{
    background-color: black;
    height: 10vh;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}






