*{
    padding: 0;
    margin: 0;
}

body{
    /* background-image: radial-gradient(circle at 50% 1.8%, #796542 0, #63573a 12.5%, #4b4631 25%, #333227 37.5%, #1c1c1b 50%, #01000d 62.5%, #000000 75%, #000000 87.5%, #000000 100%); */
    /* background-image: radial-gradient(circle at 100% 100%, #ffe1d0 0, #ffd7cd 10%, #f9cbc7 20%, #e2bebe 30%, #c7aeb1 40%, #a89d9f 50%, #8a8c8c 60%, #727d79 70%, #5f7168 80%, #516659 90%, #485e4c 100%); */
    /* background-image: radial-gradient(circle at 45.62% -0.02%, #8d8c94 0, #858388 16.67%, #787879 33.33%, #686a67 50%, #575d56 66.67%, #49534a 83.33%, #3e4c41 100%); */
    /* background-color: #4E4C4C;  */
    background-image: radial-gradient(circle at 43.51% 13.22%, #f5eabe 0, #e3d9a1 50%, #d0c985 100%);
} 

.container{
    background-color: black;
    width: 80vw;
    height: 515vh;
    margin: 10vh auto;
}

html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
}


header{
    height: 7vh;
    background-color: black;
}

nav ul  {
    margin-left: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    position: static;
    
    
    height: 2rem;
    /* width: 100%; */
}

nav li {
    margin-top: 10px;
}

nav li a{
    color: blanchedalmond;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.botao-home{
    height: 25px;
    width: 145px;
    border-radius: 7px;
    color: blanchedalmond;
    background-color: gray;
    border-color: transparent;
    position: relative;
    margin-top: 10px;
    margin-left: 450px;
    font-family: 'Roboto', sans-serif;
    /* margin-top: ; */
}

#home{
    background-image: url(img/ds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-color: tomato; */
}




#lima{
    /* background-color: blueviolet; */
    color: whitesmoke;
    background-color: #585c56;
    font-family: 'Roboto', sans-serif;
}

#lima h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#lima h3{
    display: flex;
    margin-left: 135px;
    font-size: 25px;
    /* background-color: #4b4631; */
}

.sobre-lima{
    position: relative;
    /* background-color: #585c56; */
    width: 650px;
    display: flex;
    margin-left: 135px;
    margin-top: 20px;
}

#lima img{
    width: 400px;
    /* display: inline-block; */
    position: relative;
    top: 50px;
    left: 135px;
}


.sobre-cidade-invisivel{
    /* display: flex; */
    position: relative;
    top: 80px;
    left: 135px;
    width: 300px;
    margin-left: 25px;
    /* background-color: #585c56; */
}

.sobre-comida{
    position: relative;
    top: 25px;
    left: 560px;
    width: 300px;
    margin-left: 25px;
}








#sop{
    background-color: whitesmoke;
    color: gray;
    font-family: 'Roboto', sans-serif;
}


#sop h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* background-color: green; */
   
}

#sop h3{
    display: flex;
    margin-left: 135px;
    font-size: 25px;
    width: 340px;
    /* background-color: green; */
}

.sobre-sop{
    position: relative;
    /* background-color: aqua; */
    width: 800px;
    display: flex;
    left: 135px;
    top: 40px;
}

iframe{
    /* display: flex; */
    /* gap: 20px; */
    height: 22vh;
    width: 20vw;
    position: relative;
    top: 90px;
    left: 135px;
}

.texto-video-1{
    position: relative;
    /* background-color: aqua; */
    top: 100px;
    left: 135px;
    width: 260px;
}

.texto-video-2{
    position: relative;
    /* background-color: pink; */
    top: 30px;
    left: 418px;
    width: 260px;
}

.texto-video-3{
    position: relative;
    /* background-color: aqua; */
    /* top: 2px; */
    bottom: 10px;
    left: 695px;
    width: 273px;
} 






#fpoo{
    background-color: #585c56;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#fpoo h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* background-color: green; */
   
}

#fpoo h3{
    display: flex;
    margin-left: 135px;
    font-size: 25px;
    width: 390px;
    /* background-color: green; */
}

.sobre-fpoo{
    position: relative;
    background-color: #4b4631;
    width: 300px;
    display: flex;
    margin-left: 135px;
    margin-top: 50px;
}

.sobre-imgs{
    width: 300px;
    position: relative;
    left: 135px;
    top: 100px;
}

#fpoo img{
    width: 500px;
    display: flex;
    position: relative;
    left: 500px;
    bottom: 100px;
}






#hare{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#hare h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* background-color: green; */
}

#hare h3{
    display: flex;
    margin-left: 135px;
    font-size: 25px;
    width: 390px;
    /* background-color: green; */
}

.sobre-hare{
    position: relative;
    background-color: #4b4631;
    width: 700px;
    display: flex;
    margin-left: 135px;
    margin-top: 30px;
}

#hare img{
    width: 380px;
    position: relative;
    top: 40px;
    left: 150px;
}

.sobre-img-redes{
    position: relative;
    left: 140px;
    top: 50px;
    width: 400px;
}

.sobre-img-hardware{
    position: relative;
    left: 570px;
    top: 15px;
}


footer{
    background-color: black;
    height: 10vh;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* 
.back-to-top{
    background-color: salmon;
    width: 100px;
    position: relative;
    top: 90px;
    left: 40px;
   
} */


